.slide-image {
  opacity: 0;
  transform: translateX(20%);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.slide-in {
  opacity: 1;
  transform: translateX(0);
}

.tile1-text {
  font-family: visby light;
  font-size: 20px;
  color: #bdb2a7;
  text-align: justify;
  padding-right: 5rem;
}
